.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 460px) {
    .pconly {
        display: none;
    }
}

.hide-area{
	display: none;
}

.info{
    text-decoration: none;
    color: #fff;
}

/*全て共通：モーダルのボタンの色を変更したい場合*/
.modaal-close:after, 
.modaal-close:before{
	background:#ccc;	
}

.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before{
	background:#666;
}

footer {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}